breakiPhone5 = 350px
breakiPhone6 = 374px
breaksm = 426px
breakxs = 590px
breakmd = 760px
breakxm = 1000px
breaklg = 1375px
breakxl = 1560px

// COLORS //
clBlack = #171412
clWhite = #EBE8E7
clOrange = #F15F22
clBrown = #302A26
clBlue = #628E8E

// clHover = clOrange + 20deg + 20%
clHover = clOrange
clActive = clOrange - 20deg

vertRhythm = 80px

freeBoxShadow()
  box-shadow 0px 2px 10px rgba(clBlack, .5)