.category-caves-of-qud
  color: #C1D3D6;

  // .d-header
  //   // background-color: #163C33;
  //   background-color: #061C17;


  #main
    background-color: #061C17;

  .nav-pills>li.active>a, .nav-pills>li>a.active
    background-color: #C0342E