.category-caves-of-qud
  color: #C1D3D6;
  // .d-header
  //   // background-color: #163C33;
  //   background-color: #061C17;
  #main
    background-color: #061C17;
  .nav-pills>li.active>a, .nav-pills>li>a.active
    background-color: #C0342E

.category-sproggiwood
  color: #fdfae8;
  #main
    background-color: #28120b - 30%
  a
    color: #abb55d
    &:link
      color: #abb55d
    &:hover, &:focus
      color: #abb55d + 30%
    &:active
      color: #abb55d - 30%
    &:visited
      color: #abb55d
  .nav-pills>li.active>a, .nav-pills>li>a.active
    background-color: #abb55d