@charset "UTF-8";

@import 'jeet'
@import '_vars'

global-reset()
normalize-css()
border-box-html()
// base()
fluid-media()

// @font-face {
//   font-family: 'questrial-regular';
//   url('../fonts/questrial-regular-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

@font-face
  font-family 'questrial-regular'
  src url('../fonts/questrial-regular-webfont.eot'); 
  /* IE9 Compat Modes */
  src: url('../fonts/questrial-regular-webfont.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/questrial-regular-webfont.woff') format('woff'), 
  url('../fonts/questrial-regular-webfont.ttf')  format('truetype'), 
  url('../fonts/questrial-regular-webfont.svg#questrialregular') format('svg'); 
  // url('questrial-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */

.clearfix, .cf
  clearfix()

percenter(value, pad = null)
  margin-left auto
  margin-right auto
  width 100%
  float: none
  u = unit(value)
  if (u is 'rem' or u is '%')
    max-width unit(value, u)
  else
    // max-width rem(value)
    max-width value
  if (pad is null)
    return
  else
    p = unit(pad)
    if (p is 'rem' or p is '%')
      padding-left  unit(pad, p)
      padding-right  unit(pad, p)
    else
      // padding-left rem(pad)
      // padding-right rem(pad)
      padding-left pad
      padding-right pad

// @mixin flex-video-container {
.flex-video {
  position: relative;
  padding-top: rem-calc(25);
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: rem-calc(16);
  overflow: hidden;

  &.widescreen { padding-bottom: 56.34%; }
  &.vimeo { padding-top: 0; }

  iframe,
  object,
  embed,
  video {
    position: absolute;
    top: 0;
    // #{$default-float}: 0;
    width: 100%;
    height: 100%;
  }
}

// SVG fix for IE
img
  width: 100%
img, svg
  max-width 100%
svg
  width 100%
  height auto
  max-height 100%

html, body
  font-kerning: normal;
  letter-spacing: 0px;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-family: 'questrial-regular', Helvetica, sans-serif
  background-color: clBrown
  background-image: url('../img/freehold_tile.png')
  // color: clRed
  // text-shadow: 0px 0px 30px rgba(clRedGlow, .8), 0px 0px 15px rgba(clRed, .5)
  color: clWhite
  // overflow-x: hidden;
  // overflow-y hidden
  font-size: 18px
  line-height: 22px
  // height 100vh
  // +above(breakmd)
  //   // height 100vh
  // height 100%

::selection
  color: clBlack
  background: clOrange;

a
  display: inline-block
  transition transform .15s ease-out, color .15s ease-out, text-shadow .15s ease, border-color .15s ease, background-color .15s ease
  text-decoration: none
  color: clOrange
  &:link
    color:  clOrange
  &:visited
    color: clOrange
  &:hover, &:focus
    color: clHover
    // text-shadow 0px 3px 0px (clOrange - 55%)
  &:active
    color: clActive
  .can-touch &
    &:hover, &:focus
      color: clOrange
.rise
  transform translateY(0px) !important
  &:hover, &:focus
    transform translateY(-3px) !important
    // transform scale(1.05)
  &:active
    transform translateY(1px) !important
  .can-touch &
    &:hover, &:focus
      transform translateY(0px) !important
    &:active
      transform translateY(0px) !important


.showSmall
  display block
  +above(breakmd)
    display none
.showLarge
  display none
  +above(breakmd)
    display block

.navBar
  percenter(100%, 5px)
  +above(breakmd)
    percenter(100%, 20px)
  position: fixed
  top 0
  // bottom 0
  // +above(breakmd)
  //   bottom auto
  //   top 0
  display: inline-flex
  align-items: center
  justify-content: center
  // flex-wrap wrap
  // padding-top: 15px
  // padding-bottom: 15px
  background-color: rgba(clBlack, 1)
  z-index: 100
  // freeBoxShadow()
  // margin-bottom: vertRhythm * 1.5
  // +above(breakmd)
  //   margin-bottom: vertRhythm

.navLinks
  display: inline-flex
  align-items: center
  justify-content: center
  flex-wrap wrap
  // width 60%
  // margin-left: 20%
  // margin-right 20%
  // margin auto 0
  a
    font-size: 14px
    line-height: 14px
    padding-left: 6px
    padding-right 6px
    padding-top: 15px
    padding-bottom: 15px
    +above(breakiPhone6)
      padding-left: 10px
      padding-right 10px
    +above(breakxm)
      font-size: 18px
      line-height: 18px
      padding-left 20px
      padding-right 20px
    // &:last-child
    //   margin-right: 0px

.navMark
  height 16px
  margin-top: -2px
  +above(breaksm)
    height 18px
  width auto
// .navSocial
//   float: right

.freeShadow
  freeBoxShadow()

.headerLogo
  margin 0 auto
  // width 80%
  // percenter(40%)
  // +above(breakxs)
  percenter(80%)
  +above(breakxm)
    // width 50%
    percenter(600px)
  // padding-top: vertRhythm * 2
  // padding-bottom: vertRhythm * 1
  // height 85vh
  height 95vh
  +below(breakmd)
    @media all and (orientation: landscape)
      height 80vh
      margin-top: 15vh
  +above(breakmd)
    height 105vh
  display: flex
  align-items: center
  img
    max-height 70%
  // padding-bottom: vertRhythm * 3
  // +above(breakmd)
  //   margin-bottom: vertRhythm

.mainContent
  percenter(100%, 10px)
  +above(breakmd)
    percenter(100%, 20px)
  +above(breakxm)
    percenter(1160px, 40px)

.game
  margin-bottom: vertRhythm
  &:last-child 
    margin-bottom: 0px

.game-info
  background-color: rgba(clBlack, .75)
  display: inline-flex
  flex-direction: column
  flex-wrap: wrap
  justify-content: space-between
  padding: 15px
  padding-top: 20px
  padding-bottom: 5px
  +above(breakxs)
    flex-direction: row
  +above(breakmd)
    padding-bottom: 20px
  +above(breakxm)
    padding 35px
    padding-top: 40px
    padding-bottom: 30px

.game-trailer
  order 2
  width 100%
  // +above(breakxs)
  +above(breakmd)
    width 50%
    order 1
  // +above(breakxm)
  //   width ((1/3)*100)%
    // width 50%
    // width ((100/7) * 3)%
.game-screens
  order 4
  width 100%
  // +above(breakmx)
  //   order 0
  //   margin-bottom: 10px

.game-description
  order 1
  order
  width 100%
  // +above(breakxs)
  +above(breakmd)
    order 2
    width 50%
  // +above(breakxm)
  //   width ((2/3)*100)%
  // width ((100/7) * 4)%

.game-action
  width 100%
  order 2
  +above(breakmd)
    margin-top: 15px
    order 4

.game-trailer
  // padding-right: 0
  // margin-bottom: 20px
  padding-left: 5px
  padding-right: 5px
  +above(breakmd)
    // padding-left: 5px
    // padding-right: 10px
    // margin-bottom: 5px

.game-description, .game-action
  // padding-left: 0
  padding-left: 5px
  padding-right: 5px
  +above(breakmd)
    padding-left: 10px

.game-description
  display: flex
  align-items: center
  p
    margin-bottom: 1em

.game-action
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding-top: 20px
  padding-bottom: @padding-top
  p
    margin-bottom: 10px
  +above(breakmd)
    padding-top: 0px
    padding-bottom: @padding-top
    p
      margin-bottom: 20px
      &:last-child
        margin-bottom: 0

.store-buttons
  display: inline-flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  a
    margin-bottom: 10px
    margin-right: 5px
    margin-left: @margin-right
    +above(breakmd)
      margin-right: 10px
      margin-left: @margin-right
      margin-bottom: 20px
    // &:last-child
    //   margin-right: 0
    padding-top 5px
    padding-bottom: @padding-top
    padding-left: 15px
    padding-right: @padding-left
    border 3px solid clOrange
    background-color clOrange
    color clBlack
    &:hover, &:focus
      border-color clHover
      background-color clHover
    &:active
      border-color clActive
      background-color clActive

.grid-container
  width 100%
  display: inline-flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  // margin-bottom -2%
  // margin-bottom -2vw
  margin-bottom: 5px
  +above(breakxm)
    margin-bottom: 0px
  .grid-item
    display inline-block
    width: 50%
    padding-bottom: 5px
    padding-left: 5px
    padding-right: 5px
    +above(breakmd)
      width 25%
    // &:nth-child(even)
    //   padding-right: 5px
    //   &:last-child
    //     padding-right 0
    // &:nth-child(odd)
    //   padding-left: 5px
    &.trailer
      width 100%
      padding-right 0px
      padding-left 0px
      margin-bottom 0 !important
      // padding-bottom: 0 !important
      a
        width 100%
    img
      width 100%
      transition border .15s ease
      border: solid 3px clWhite
      &:hover, &:focus
        border-color clHover
      &:active
        border-color clActive

.game-page-play-button
  pointer-events: none
  position: absolute;
  align(both)
  // width: 50px
  // height 50px
  // +above(breakxs)
  width: 100px
  height 100px
  // width 25%
  // height 25%
  // margin-top -10px
  // margin-top: -3%
  opacity .75
  transition: opacity .2s ease
  border none !important
  svg
    circle, polygon
      transition stroke .15s ease, fill .15s ease
    circle
      fill clBlack

.trailer
  position relative
  &:hover
    .game-page-play-button
      opacity: 1
      svg
        circle
          stroke clHover
        polygon
          fill clHover

#swipebox-overlay
  background-color: rgba(clBlack, .95) !important
.swipebox-video-container
  padding-top 12px !important
  padding-bottom 0px !important
  padding-left 24px !important
  padding-right 24px !important

.qud
  .game-description
    +above(breakxs)
      font-size: 28px;
      line-height: 32px
    +above(breakmd)
      font-size: 32px;
      line-height: 40px
    // +above(breaklg)
    //   font-size: 36px;
    //   line-height: 44px

.sproggi
  .game-description
    +above(breakxs)
      font-size: 22px;
      line-height: 26px
    +above(breakmd)
      font-size: 24px;
      line-height: 28px

.game-action
  +above(breakxs)
    font-size: 28px;
    line-height: 32px
  +above(breakmd)
    font-size: 32px;
    line-height: 40px

.section
  // padding-top: vertRhythm * .5
  padding-top: vertRhythm
  // margin-bottom: vertRhythm
  +above(breakmd)
    padding-top: vertRhythm
  //   // margin-bottom: vertRhythm - 40px
  h1, h2
    width 100%
    text-shadow: 0 2px 10px rgba(clBlack,0.50);
    font-weight: bold;
    letter-spacing: 1.33px;
    text-align center
    text-transform uppercase
    margin-top: 0
    margin-bottom: 20px
  h1
    font-size: 42px;
    line-height: 46px
    +above(breakxs)
      font-size: 48px;
      line-height: 52px
    +above(breakxm)
      font-size: 64px;
      line-height: 70px
  h2
    // margin-bottom: 10px
    font-size: 28px;
    line-height: 34px
    +above(breakxs)
      font-size: 32px;
      line-height: 38px
    +above(breakxm)
      font-size: 36px;
      line-height: 40px

.contributors
  padding-top: 40px

.projects-container
  width 100%

.project-item
  display inline-block
    // +above(breakxm)
  width: 100%
  padding-left: 0
  padding-right: 0
  p
    margin-bottom: 1em
    &:last-child
      margin-bottom: 0
  +above(breakxs)
    width: 49%
    &:nth-child(odd)
      // padding-right 1%
      // padding-right 1vw
      padding-right: 10px
      &:last-child
        padding-right 0
    &:nth-child(even)
      // padding-left 1%
      // padding-left 1vw
      padding-left: 10px
  +above(breakxm)
    width: (100/3)%
    &:nth-child(odd)
      padding-right: 0
      padding-left: 0
      // &:last-child
      //   padding-right 0
    &:nth-child(even)
      padding-left: 0
      padding-right: 0
      // &:last-child
      //   padding-right 0
    &:nth-child(n)
      padding-left: 20px
      padding-right: 20px
      &:last-child
        padding-left: 20px
        padding-right: 20px

  // padding-bottom 2%
  // padding-bottom 2vw
  padding-bottom: 40px

.project-image
  padding-bottom: 66%
  background-origin: center
  background-position center
  background-size cover
  background-color: clBlack

.project-description
  background-color: rgba(clBlack, .75)
  // padding: 10px
  // +above(breakmd)
  padding: 20px

.team-grid-item
  // border: solid 3px clWhite
  // width 100%
  // padding-bottom 1%
  display inline-block
  // +above(breakxm)
  width 100%
  padding-left: 0
  padding-right: 0
  padding-bottom 20px
  +above(breakxm)
    width: 50%
    &:nth-child(odd)
      // padding-right 1%
      // padding-right 1vw
      padding-right: 10px
      &:last-child
        padding-right 0
    &:nth-child(even)
      // padding-left 1%
      // padding-left 1vw
      padding-left: 10px

.team-box
  display inline-flex
  flex-direction column
  +above(breaksm)
    flex-direction row
  width 100%


.team-photo
  width 100%
  +above(breakxs)
    width (100/3)%
  height auto
  background-origin: center
  background-position center
  background-size cover
  background-color: clBlack
  min-height 250px
  flex-shrink: 2
// .team-photo
//   // padding-bottom: 100%
//   height 100%
//   background-origin: center
//   background-position center
//   background-size cover
//   background-color: clBlack
.team-description
  width 100%
  +above(breakxs)
    width ((100/3)*2)%
  background-color: rgba(clBlack, .75)
  padding: 20px

.team-description
  display flex
  flex-direction: column
  align-items: flex-start
  justify-content: space-between
  min-height 250px
.team-name
  font-size: 28px;
  // letter-spacing: 0.58px;
  line-height: 28px;
.team-role
  margin-bottom: 22px
// .team-bio

.team-contact
  display flex
  flex-direction: column
  +above(breakxm)
    flex-direction: row
  align-items: flex-start
  justify-content: space-between
  width 100%

.contributor-grid-item
  // border: solid 3px clWhite
  // width 100%
  // padding-bottom 1%
  display inline-block
  // +above(breakxm)
  width 100%
  padding-left: 0
  padding-right: 0
  padding-bottom 20px
  .team-box
    height 100%
  +above(breakmd)
    // width: 49%
    width (100/2)%
    padding-left: 10px 
    padding-right: 10px 
  +above(breakxm)
    // width: 49%
    width (100/3)%
    // &:nth-child(odd)
    //   // padding-right 1%
    //   // padding-right 1vw
    //   padding-right: 10px
    //   &:last-child
    //     padding-right 0
    // &:nth-child(even)
    //   // padding-left 1%
    //   // padding-left 1vw
    //   padding-left: 10px

.contributor-description
  width 100%
  // +above(breakxs)
  //   width ((100/3)*2)%
  background-color: rgba(clBlack, .75)
  padding: 20px

.contact-box, .mailing-box
  width 100%
  background-color: rgba(clBlack, .75)
  padding 20px
  +above(breakmd)
    padding 40px
    font-size: 24px
    line-height: 24px

.contact-box
  margin-bottom: 20px
  +above(breakmd)
    margin-bottom: 0

.contact-grid-item
  // border: solid 3px clWhite
  // width 100%
  // padding-bottom 1%
  display inline-block
  // +above(breakxm)
  width: 100%
  padding-bottom 2%
  padding-bottom 2vw
  &:nth-child(odd)
    padding-right 0
    padding-right 0
    &:last-child
      padding-right 0
    +above(breakxm)
      padding-right 1%
      padding-right 1vw
      width ((100/7) * 3)%
  &:nth-child(even)
    padding-left 0
    padding-left 0
    +above(breakxm)
      width ((100/7) * 4)%
      padding-left 1%
      padding-left 1vw


.contact-item
  margin-bottom: 20px
  &:last-child
    margin-bottom: 0

.mailing-box
  .mailing-header
    margin-bottom: 20px
  .mc-field-group
    margin-bottom: 10px
    // &:last-child
    //   margin-bottom 0

.mailingList
  input
    /* Rectangle 4: */
    background: clBrown
    border: 3px solid clOrange;
    border-radius: 0px
    padding: 10px

  label
    font-size: .75em
  
  input#mce-EMAIL, input#mce-LNAME, input#mce-FNAME, .mc-field-group
    width 100%

  .mailing-name-row
    width 100%
    display inline-flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    +above(breakxm)
      flex-direction: row
      .mc-field-group
        &:first-child
          padding-right: 5px
        &:last-child
          padding-left: 5px
    >
      width 100%
      +above(breakxm)
        width 50%

  input#mce-EMAIL, input#mce-LNAME, input#mce-FNAME
    transition border .15s ease
    color clWhite
    outline 0
    margin-top 5px
    &:hover
      border-color clHover
    &:active, &:focus
      border-color clWhite

  input#mc-embedded-subscribe
    display inline-block !important
    // transform translateY(0px)
    margin-top: 1em
    background-color: clOrange
    transition: background-color .15s ease, border .15s ease, transform .15s ease
    color: clBlack
    /* Submit: */
    font-size: 1em
    line-height: 1em
    width 100%
    // +above(breakmd)
    //   font-size: 24px;
    padding 10px
    outline 0
    &:hover, &:focus
      background-color: clHover
      border-color clHover
    &:active
      background-color clActive

.footer
  width 100%
  background-color: rgba(clBlack, .9)
  padding 20px
  +above(breakmd)
    padding 40px
  text-align center