@charset "UTF-8";

@import 'jeet'
@import '_vars'

global-reset()
normalize-css()
border-box-html()
// base()
fluid-media()

// @font-face {
//   font-family: 'questrial-regular';
//   url('../fonts/questrial-regular-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

@font-face
  font-family 'questrial-regular'
  src url('../fonts/questrial-regular-webfont.eot'); 
  /* IE9 Compat Modes */
  src: url('../fonts/questrial-regular-webfont.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/questrial-regular-webfont.woff') format('woff'), 
  url('../fonts/questrial-regular-webfont.ttf')  format('truetype'), 
  url('../fonts/questrial-regular-webfont.svg#questrialregular') format('svg'); 
  // url('questrial-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */

.clearfix, .cf
  clearfix()

percenter(value, pad = null)
  margin-left auto
  margin-right auto
  width 100%
  float: none
  u = unit(value)
  if (u is 'rem' or u is '%')
    max-width unit(value, u)
  else
    // max-width rem(value)
    max-width value
  if (pad is null)
    return
  else
    p = unit(pad)
    if (p is 'rem' or p is '%')
      padding-left  unit(pad, p)
      padding-right  unit(pad, p)
    else
      // padding-left rem(pad)
      // padding-right rem(pad)
      padding-left pad
      padding-right pad

// @mixin flex-video-container {
.flex-video {
  position: relative;
  padding-top: rem-calc(25);
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: rem-calc(16);
  overflow: hidden;

  &.widescreen { padding-bottom: 56.34%; }
  &.vimeo { padding-top: 0; }

  iframe,
  object,
  embed,
  video {
    position: absolute;
    top: 0;
    // #{$default-float}: 0;
    width: 100%;
    height: 100%;
  }
}

// SVG fix for IE
img
  width: 100%
img, svg
  max-width 100%
svg
  width 100%
  height auto
  max-height 100%

html, body
  font-kerning: normal;
  letter-spacing: 0px;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-family: 'questrial-regular', Helvetica, sans-serif
  background-color: clBrown
  background-image: url('../img/freehold_tile.png')
  // color: clRed
  // text-shadow: 0px 0px 30px rgba(clRedGlow, .8), 0px 0px 15px rgba(clRed, .5)
  color: clWhite
  // overflow-x: hidden;
  // overflow-y hidden
  font-size: 18px
  line-height: 22px
  // height 100vh
  // +above(breakmd)
  //   // height 100vh
  // height 100%

a
  display: inline-block
  transition transform .15s ease-out, color .15s ease-out
  text-decoration: none
  color: clOrange
  &:link
    color:  clOrange
  &:hover, &:focus
    color: clOrange + 35%
  &:active
    color: clOrange - 35%
  &:visited
    color: clOrange
a.rise
  &:hover, &:focus
    transform translateY(-3px)
    // transform scale(1.05)
  &:active
    transform translateY(3px)

.navBar
  width 100%
  display: inline-flex
  align-items: center
  justify-content: center
  // flex-wrap wrap
  padding-top: 20px
  padding-bottom: 20px
  background-color: rgba(clBlack, .5)
  // freeBoxShadow()
  margin-bottom: vertRhythm
  a
    font-size: 14px
    margin-right 20px
    +above(breakxm)
      font-size: 18px
      margin-right 10px
    &:last-child
      margin-right: 0px

// .navSocial
//   float: right

.freeShadow
  freeBoxShadow()

.headerLogo
  margin 0 auto
  width 75%
  +above(breakxm)
    width 45%
  margin-bottom: vertRhythm

.mainContent
  percenter(100%, 20px)
  +above(breakxm)
    percenter(100%, 40px)

.game
  margin-bottom: vertRhythm

.game-info
  background-color: rgba(clBlack, .75)
  display: inline-flex
  flex-direction: column
  flex-wrap: wrap
  justify-content: space-between
  padding: 20px
  +above(breakxs)
    flex-direction: row
  +above(breakxm)
    padding 40px

.game-screens, .game-description
  width 100%
  // display: block
  +above(breakxs)
    width 50%
    // display inline-block

.game-screens
  padding-right: 0
  margin-bottom: 20px
  +above(breakxs)
    padding-right: 10px
    margin-bottom: 0px
.game-description
  padding-left: 0
  +above(breakxs)
    padding-left: 10px
  p
    margin-bottom: 1em

.grid-container
  display: inline-flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  margin-bottom -2%
  margin-bottom -2vw
  .grid-item
    // border: solid 3px clWhite
    // width 100%
    // padding-bottom 1%
    display inline-block
    // +above(breakxm)
    width: 49%
    padding-bottom 2%
    padding-bottom 2vw
    &:nth-child(odd)
      padding-right 1%
      padding-right 1vw
      &:last-child
        padding-right 0
    &:nth-child(even)
      padding-left 1%
      padding-left 1vw
    
    img
      border: solid 3px clWhite

.qud
  .game-description
    +above(breakxm)
      font-size: 32px;
      line-height: 40px
    +above(breaklg)
      font-size: 36px;
      line-height: 44px

.section
  margin-bottom: vertRhythm
  h1
    text-shadow: 0 2px 10px rgba(clBlack,0.50);
    letter-spacing: 1.33px;
    text-align center
    text-transform uppercase
    font-size: 42px;
    line-height: 46px
    +above(breakxs)
      font-size: 48px;
      line-height: 52px
    +above(breakxm)
      font-size: 64px;
      line-height: 70px

.projects-container
  width 100%

.project-item
  display inline-block
    // +above(breakxm)
  width: 100%
  +above(breaksm)
    width: 49%
    &:nth-child(odd)
      padding-right 1%
      padding-right 1vw
      &:last-child
        padding-right 0
    &:nth-child(even)
      padding-left 1%
      padding-left 1vw
  +above(breakmd)
    width: (100/3)%
    &:nth-child(odd)
      padding-right: 0
      &:last-child
        padding-right 0
    &:nth-child(even)
      padding-left: 0
      // &:last-child
      //   padding-right 0
    &:nth-child(n+1)
      padding-right 1%
      padding-right 1vw
    &:nth-child(2n+2)
      padding-right 1%
      padding-right 1vw
    &:nth-child(3n+3)
      padding-right: 0
      padding-left 1%
      padding-left 1vw
  padding-bottom 2%
  padding-bottom 2vw

.project-info
  background-color: clBlack