@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #222;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
select,
textarea {
  font: inherit;
}
optgroup {
  font-weight: bold;
}
button,
input,
select {
  overflow: visible;
}
button,
input,
select,
textarea {
  margin: 0;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}
[disabled] {
  cursor: default;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
img,
video,
iframe {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  display: block;
}
@font-face {
  font-family: 'questrial-regular';
  src: url("../fonts/questrial-regular-webfont.eot");
/* IE9 Compat Modes */
  src: url("../fonts/questrial-regular-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/questrial-regular-webfont.woff") format('woff'), url("../fonts/questrial-regular-webfont.ttf") format('truetype'), url("../fonts/questrial-regular-webfont.svg#questrialregular") format('svg');
}
.clearfix::after,
.cf::after {
  content: '';
  display: table;
  clear: both;
}
.flex-video {
  position: relative;
  padding-top: rem-calc(25);
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: rem-calc(16);
  overflow: hidden;
}
.flex-video.widescreen {
  padding-bottom: 56.34%;
}
.flex-video.vimeo {
  padding-top: 0;
}
.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
img {
  width: 100%;
}
img,
svg {
  max-width: 100%;
}
svg {
  width: 100%;
  height: auto;
  max-height: 100%;
}
html,
body {
  -webkit-font-kerning: normal;
          font-kerning: normal;
  letter-spacing: 0px;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-family: 'questrial-regular', Helvetica, sans-serif;
  background-color: #302a26;
  background-image: url("../img/freehold_tile.png");
  color: #ebe8e7;
  font-size: 18px;
  line-height: 22px;
}
::-moz-selection {
  color: #171412;
  background: #f15f22;
}
::selection {
  color: #171412;
  background: #f15f22;
}
a {
  display: inline-block;
  -webkit-transition: color 0.15s ease-out, -webkit-transform 0.15s ease-out;
  transition: color 0.15s ease-out, -webkit-transform 0.15s ease-out;
  transition: transform 0.15s ease-out, color 0.15s ease-out;
  transition: transform 0.15s ease-out, color 0.15s ease-out, -webkit-transform 0.15s ease-out;
  text-decoration: none;
  color: #f15f22;
}
a:link {
  color: #f15f22;
}
a:hover,
a:focus {
  color: #f6976f;
}
a:active {
  color: #a8390b;
}
a:visited {
  color: #f15f22;
}
a.rise:hover,
a.rise:focus {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}
a.rise:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}
.navBar {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  float: none;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(23,20,18,0.5);
  margin-bottom: 120px;
}
.navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.navLinks a {
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
}
@media only screen and (min-width: 1000px) {
  .navLinks a {
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
.freeShadow {
  -webkit-box-shadow: 0px 2px 10px rgba(23,20,18,0.5);
          box-shadow: 0px 2px 10px rgba(23,20,18,0.5);
}
.headerLogo {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 120px;
}
@media only screen and (min-width: 1000px) {
  .headerLogo {
    width: 50%;
  }
}
.mainContent {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  float: none;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (min-width: 1000px) {
  .mainContent {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: none;
    max-width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
}
.game {
  margin-bottom: 80px;
}
.game-info {
  background-color: rgba(23,20,18,0.75);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}
@media only screen and (min-width: 590px) {
  .game-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media only screen and (min-width: 1000px) {
  .game-info {
    padding: 40px;
  }
}
.game-screens,
.game-description {
  width: 100%;
}
@media only screen and (min-width: 590px) {
  .game-screens,
  .game-description {
    width: 50%;
  }
}
.game-screens {
  padding-right: 0;
  margin-bottom: 20px;
}
@media only screen and (min-width: 590px) {
  .game-screens {
    padding-right: 10px;
    margin-bottom: 0px;
  }
}
.game-description {
  padding-left: 0;
}
@media only screen and (min-width: 590px) {
  .game-description {
    padding-left: 10px;
  }
}
.game-description p {
  margin-bottom: 1em;
}
.grid-container {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -2%;
  margin-bottom: -2vw;
}
.grid-container .grid-item {
  display: inline-block;
  width: 49%;
  padding-bottom: 2%;
  padding-bottom: 2vw;
}
.grid-container .grid-item:nth-child(odd) {
  padding-right: 1%;
  padding-right: 1vw;
}
.grid-container .grid-item:nth-child(odd):last-child {
  padding-right: 0;
}
.grid-container .grid-item:nth-child(even) {
  padding-left: 1%;
  padding-left: 1vw;
}
.grid-container .grid-item img {
  border: solid 3px #ebe8e7;
}
@media only screen and (min-width: 1000px) {
  .qud .game-description {
    font-size: 32px;
    line-height: 40px;
  }
}
@media only screen and (min-width: 1375px) {
  .qud .game-description {
    font-size: 36px;
    line-height: 44px;
  }
}
.section {
  margin-bottom: 80px;
}
.section h1 {
  text-shadow: 0 2px 10px rgba(23,20,18,0.5);
  letter-spacing: 1.33px;
  text-align: center;
  text-transform: uppercase;
  font-size: 42px;
  line-height: 46px;
  margin-top: 0;
  margin-bottom: 20px;
}
@media only screen and (min-width: 590px) {
  .section h1 {
    font-size: 48px;
    line-height: 52px;
  }
}
@media only screen and (min-width: 1000px) {
  .section h1 {
    font-size: 64px;
    line-height: 70px;
  }
}
.projects-container {
  width: 100%;
}
.project-item {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 40px;
}
.project-item p {
  margin-bottom: 1em;
}
.project-item p:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 590px) {
  .project-item {
    width: 49%;
  }
  .project-item:nth-child(odd) {
    padding-right: 10px;
  }
  .project-item:nth-child(odd):last-child {
    padding-right: 0;
  }
  .project-item:nth-child(even) {
    padding-left: 10px;
  }
}
@media only screen and (min-width: 1000px) {
  .project-item {
    width: 33.333333333333336%;
  }
  .project-item:nth-child(odd) {
    padding-right: 0;
    padding-left: 0;
  }
  .project-item:nth-child(even) {
    padding-left: 0;
    padding-right: 0;
  }
  .project-item:nth-child(n) {
    padding-left: 20px;
    padding-right: 20px;
  }
  .project-item:nth-child(n):last-child {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.project-image {
  padding-bottom: 66%;
  background-origin: center;
  background-position: center;
  background-size: cover;
  background-color: #171412;
}
.project-description {
  background-color: rgba(23,20,18,0.75);
  padding: 20px;
}
.team-grid-item {
  display: inline-block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 20px;
}
@media only screen and (min-width: 1000px) {
  .team-grid-item {
    width: 49%;
  }
  .team-grid-item:nth-child(odd) {
    padding-right: 1%;
    padding-right: 1vw;
  }
  .team-grid-item:nth-child(odd):last-child {
    padding-right: 0;
  }
  .team-grid-item:nth-child(even) {
    padding-left: 1%;
    padding-left: 1vw;
  }
}
.team-box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
@media only screen and (min-width: 426px) {
  .team-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.team-photo {
  width: 100%;
  height: auto;
  background-origin: center;
  background-position: center;
  background-size: cover;
  background-color: #171412;
  min-height: 250px;
  -ms-flex-negative: 2;
      flex-shrink: 2;
}
@media only screen and (min-width: 590px) {
  .team-photo {
    width: 33.333333333333336%;
  }
}
.team-description {
  width: 100%;
  background-color: rgba(23,20,18,0.75);
  padding: 20px;
}
@media only screen and (min-width: 590px) {
  .team-description {
    width: 66.66666666666667%;
  }
}
.team-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 250px;
}
.team-name {
  font-size: 28px;
  line-height: 22px;
  margin-bottom: 22px;
}
.team-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
@media only screen and (min-width: 760px) {
  .team-contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.contact-box,
.mailing-box {
  width: 100%;
  background-color: rgba(23,20,18,0.75);
  padding: 20px;
}
@media only screen and (min-width: 760px) {
  .contact-box,
  .mailing-box {
    padding: 40px;
    font-size: 24px;
    line-height: 24px;
  }
}
.contact-grid-item {
  display: inline-block;
  width: 100%;
  padding-bottom: 2%;
  padding-bottom: 2vw;
}
.contact-grid-item:nth-child(odd) {
  padding-right: 0;
  padding-right: 0;
}
.contact-grid-item:nth-child(odd):last-child {
  padding-right: 0;
}
@media only screen and (min-width: 1000px) {
  .contact-grid-item:nth-child(odd) {
    padding-right: 1%;
    padding-right: 1vw;
    width: 42.85714285714286%;
  }
}
.contact-grid-item:nth-child(even) {
  padding-left: 0;
  padding-left: 0;
}
@media only screen and (min-width: 1000px) {
  .contact-grid-item:nth-child(even) {
    width: 57.142857142857146%;
    padding-left: 1%;
    padding-left: 1vw;
  }
}
.contact-item {
  margin-bottom: 20px;
}
.contact-item:last-child {
  margin-bottom: 0;
}
.mailing-box .mailing-header {
  margin-bottom: 20px;
}
.mailing-box .mc-field-group {
  margin-bottom: 10px;
}
.mailingList input {
/* Rectangle 4: */
  background: #302a26;
  border: 1px solid #f15f22;
  padding: 10px;
}
.mailingList label {
  font-size: 0.75em;
}
.mailingList input#mce-EMAIL,
.mailingList input#mce-LNAME,
.mailingList input#mce-FNAME,
.mailingList .mc-field-group {
  width: 100%;
}
.mailingList .mailing-name-row {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (min-width: 1000px) {
  .mailingList .mailing-name-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .mailingList .mailing-name-row .mc-field-group:first-child {
    padding-right: 5px;
  }
  .mailingList .mailing-name-row .mc-field-group:last-child {
    padding-left: 5px;
  }
}
.mailingList .mailing-name-row > {
  width: 100%;
}
@media only screen and (min-width: 1000px) {
  .mailingList .mailing-name-row > {
    width: 50%;
  }
}
.mailingList input#mce-EMAIL,
.mailingList input#mce-LNAME,
.mailingList input#mce-FNAME {
  -webkit-transition: border 0.15s ease;
  transition: border 0.15s ease;
  color: #ebe8e7;
  outline: 0;
  margin-top: 5px;
}
.mailingList input#mce-EMAIL:active,
.mailingList input#mce-LNAME:active,
.mailingList input#mce-FNAME:active,
.mailingList input#mce-EMAIL:focus,
.mailingList input#mce-LNAME:focus,
.mailingList input#mce-FNAME:focus {
  border-color: #ebe8e7;
}
.mailingList input#mc-embedded-subscribe {
  margin-top: 1em;
  background-color: #f15f22;
  -webkit-transition: background-color 0.15s ease, border 0.15s ease;
  transition: background-color 0.15s ease, border 0.15s ease;
  color: #171412;
/* Submit: */
  font-size: 1em;
  line-height: 1em;
  width: 100%;
  padding: 10px;
  outline: 0;
}
.mailingList input#mc-embedded-subscribe:hover,
.mailingList input#mc-embedded-subscribe:focus {
  background-color: #f6976f;
  border-color: #ebe8e7;
}
.mailingList input#mc-embedded-subscribe:active {
  background-color: #ebe8e7;
}
